version: "3.9"

services:
  sobre-lp:
    image: "{{ app_image }}"
    networks:
      - {{ traefik_network }}
    deploy:
      mode: replicated
      replicas: {{ stack_replicas }}
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 5s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.docker.network={{ traefik_network }}
        - traefik.constraint-label={{ traefik_constraint_label }}
        - traefik.http.routers.{{ traefik_router_name }}-http.rule=Host(`{{ domain_primary }}`) || Host(`{{ domain_www }}`)
        - traefik.http.routers.{{ traefik_router_name }}-http.entrypoints={{ traefik_entrypoint_http }}
        - traefik.http.routers.{{ traefik_router_name }}-http.middlewares=https-redirect
        - traefik.http.routers.{{ traefik_router_name }}-https.rule=Host(`{{ domain_primary }}`) || Host(`{{ domain_www }}`)
        - traefik.http.routers.{{ traefik_router_name }}-https.entrypoints={{ traefik_entrypoint_https }}
        - traefik.http.routers.{{ traefik_router_name }}-https.tls=true
        - traefik.http.routers.{{ traefik_router_name }}-https.tls.certresolver={{ traefik_certresolver }}
        - traefik.http.routers.{{ traefik_router_name }}-https.service={{ traefik_router_name }}
        - traefik.http.services.{{ traefik_router_name }}.loadbalancer.server.port=80
        - traefik.http.services.{{ traefik_router_name }}.loadbalancer.server.scheme=http

networks:
  {{ traefik_network }}:
    external: true
    name: {{ traefik_network }}
